/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------------------------------*/

.main-wrapper {
    width: 1260px;
    margin: 0 auto;
}


.layout-positioning {
    margin: 0 150px;
    overflow: hidden;
}

.separator {
    border-bottom: 1px dashed #cecece;
}

.top-nav:after,
.header-logo:after {
    clear: both;
    content: '';
    display: block;
}

.top-nav {
        background: #484848;
        height: 40px;
    }

    .top-nav ul {
        float: left;
        font-size: 0;
        list-style-type: none;
        margin-top: 16px;
        margin-left: 0px;
    }

        .top-nav ul li {
            float: left;
            margin-right: 17px;
        }

            .top-nav ul li a {
                color: #919191;
                font-size: 11px;
                font-family: Arial;
                text-decoration: none;
                text-transform: uppercase;
            }

    .top-nav form {
        float: right;
        padding-top: 9px;
        font-size: 0;
    }

        .top-nav form label {
            margin-top: 6px;
            color: #919191;
            font-size: 11px;
            font-family: Arial;
            text-transform: uppercase;
            margin-right: 9px;
            float: left;
        }

        .top-nav form input[type="text"],
        .top-nav form input[type="password"] {
            box-sizing: border-box;
            width: 100px;
            height: 23px;
            background: #373737;
            border-left: 1px solid #2c2c2c;
            border-top: 1px solid #2c2c2c;
            border-right: 1px solid #515151;
            border-bottom: 1px solid #515151;
            border-radius: 3px;
            padding: 7px 7px;
            font-size: 10px;
            font-family: Arial;
            color: #666666;
            vertical-align: middle;
            margin-right: 4px;
        }

        .top-nav form input::-webkit-input-placeholder { /* WebKit browsers */
            color: #666666;
        }

        .top-nav form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #666666;
        }

        .top-nav form input::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #666666;
        }

        .top-nav  form input:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #666666;
        }

        .top-nav .layout-positioning form input[type="submit"] {
            box-sizing: border-box;
            width: 35px;
            height: 23px;
            border: none;
            border-top: 1px solid #f27c7c;
            border-bottom: 1px solid #343331;
            border-radius: 3px;
            background: #ec4444;
            color: #fffffd;
            vertical-align: middle;
            font-size: 12px;
            font-family: Arial;
            text-transform: uppercase;
            font-weight: bold;
        }

.header-logo {
    margin-top: 16px;
}

    .header-logo a {
        float: left;
    }

        .header-logo a img {
            display: block;
            height: 48px;
            width: 209px;
        }

.main-nav {
    background: #e0e0e0;
    height: 40px;
    border-radius: 1px;
    margin-top: 16px;
}

    .main-nav ul {
        list-style-type: none;
        float: left;
        border-right: 1px solid #ededed;
    }

        .main-nav ul li {
            height: 40px;
            float: left;
            border-right: 1px solid #d3d3d3;
            border-left: 1px solid #ededed;
            box-sizing: border-box;
        }

        .main-nav ul li:first-of-type {
            border-left: none;
        }

            .main-nav ul li a {
                display: block;
                text-decoration: none;
                font-family: Arial;
                font-size: 12px;
                color: #474747;
                text-transform: uppercase;
                padding: 15px 15px 13px 15px;
            }

    .main-nav form {
        float: right;
        padding-top: 6px;
        padding-right: 3px;
        position: relative;
    }

        .main-nav form input[type="text"] {
            box-sizing: border-box;
            height: 29px;
            min-width: 226px;
            background-color: #484848;
            border-top: 1px solid #2b2b2b;
            border-right: 1px solid #ececec;
            border-bottom: 1px solid #ececec;
            border-left: 1px solid #2b2b2b;
            border-radius: 3px;
            padding-left: 9px;
            padding-right: 28px;
            color: #888888;
            font-family: Arial;
        }

        .main-nav form input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
            color: #888888;
        }

        .main-nav form input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #888888;
        }

        .main-nav form input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #888888;
        }

        .main-nav form input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #888888;
        }

        .main-nav form input[type="image"] {
            position: absolute;
            top: 12px;
            right: 13px;
        }

.banner-section {
    margin-top: 68px;
    padding-bottom: 65px;
    position: relative;
}

    .banner-section > img {
        position: absolute;
        right: 0;
        top: 2px;
    }

    .banner-text {
        padding: 0 10px;
    }

    .banner-text:after {
        content: '';
            clear: both;
            display: block;
    }

        .banner-text ul {
            margin-left: 15px;
            margin-top: 18px;
        }

            .banner-text ul li:before {
                color: #44a7ec;
                content: "●";
                padding-right: 12px;
            }

            .banner-text ul li {
                font-size: 16px;
                color: #999999;
                font-family: 'Trebuchet MS';
                letter-spacing: -0.63px;
                margin-top: 4px;
            }

            .banner-text ul li:first-of-type {
                margin-top: 0;
            }

        .banner-text a {
            float: left;
            margin-top: 43px;
            margin-left: 5px;
        }

        .banner-text a:after {
            content: '';
            clear: both;
            display: block;
        }

    .banner-text h1 {
        color: #ec4444;
        font-size: 80px;
        font-family: 'Trebuchet MS';
        letter-spacing: -3px;
    }

.products {
    margin-top: 20px;
}

    .products h2 {
        color: #484848;
        font-family: 'Trebuchet MS';
        font-size: 50px;
        margin-left: 10px;
        letter-spacing: -2px;
    }

    .products ul {
        margin-bottom: 52px;
        margin-top: 22px;
    }

            .products ul:after {
                content: '';
                display: block;
                clear: both;
            }

            .products ul li {
                box-sizing: border-box;
                float: left;
                width: 25%;
                padding: 0 9px;
            }

            .products ul li:last-child {
                margin-right: 0;
            }

                .products ul li .product-container {
                    border: 1px solid #ededed;
                    border-radius: 3px;
                    line-height: 21px;
                    min-height: 100px;
                    padding: 7px 60px 8px 10px;
                    position: relative;
                }

                .products ul li .product-container:after {
                    content: '';
                    display: block;
                    clear: both;
                }

                    .products ul li .product-container h3 {
                        font-size: 20px;
                        font-family: 'Trebuchet MS';
                        color: #44a7ec;
                    }

                    .products ul li .product-container p {
                        font-size: 11px;
                        font-family: Arial;
                        color: #999999;
                        line-height: 17px;
                        margin-top: 12px;
                        width: 110px;
                    }

                    .products ul li .product-container img {
                        position: absolute;
                        right: -5px;
                        top: 17px;
                    }

.blog {
    margin-top: 24px;
}

    .blog h2 {
        color: #484848;
        font-family: 'Trebuchet MS';
        font-size: 50px;
        margin-left: 9px;
        letter-spacing: -2px;
    }

    .blog-articles {
        overflow: hidden;
        margin-top: 29px;
        margin-bottom: 36px;
    }

        .blog-articles .article {
            box-sizing: border-box;
            float: left;
            padding: 0 10px;
            width: 50%;
        }

            .blog-articles .article h3 a {
                font-family: 'Trebuchet MS';
                font-size: 24px;
                color: #44a7ec;
                line-height: 26px;
                text-decoration: none;
            }

            .blog-articles .article h3 + p {
                color: #aeaeae;
                font-size: 12px;
                font-family: Arial;
                margin-top: 3px;
            }

                .blog-articles .article a {
                    color: #44a7ec;
                    font-family: Arial;
                }

            .blog-articles .article img {
                width: 100%;
                height: 141px;
                display: block;
                margin-top: 11px;
            }

            .blog-articles .article p {
                color: #999999;
                font-size: 12px;
                font-family: Arial;
                line-height: 18px;
                margin-top: 7px;
            }

.about-and-twitter {
    margin-top: 32px;
}

    .about-and-twitter .about {
        float: left;
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box;
    }

        .about-and-twitter .about h2 {
            color: #484848;
            font-family: 'Trebuchet MS';
            font-size: 50px;
            letter-spacing: -2px;
        }

        .about-and-twitter .about p {
            color: #999999;
            font-family: Arial;
            font-size: 12px;
            line-height: 18px;
            margin-top: 19px;
        }

        .about-and-twitter .about a {
            display: inline-block;
            margin-top: 24px;
            color: #44a7ec;
            font-family: Arial;
            font-size: 12px;
        }

    .about-and-twitter .twitter {
        float: left;
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box;
    }

        .about-and-twitter .twitter h2 {
            color: #484848;
            font-family: 'Trebuchet MS';
            font-size: 50px;
            letter-spacing: -2px;
        }

        .about-and-twitter .twitter ul {
            list-style: none;
            margin-top: 15px;
        }

            .about-and-twitter .twitter ul li {
                margin-top: 10px;
            }

            .about-and-twitter .twitter ul li:first-of-type {
                margin-top: 0;
            }

            .about-and-twitter .twitter ul li a {
                font-size: 10px;
                line-height: 18px;
                color: #44a7ec;
                font-family: Tahoma;
            }

            .about-and-twitter .twitter ul li p {
                color: #999999;
                font-family: Arial;
                font-size: 12px;
                line-height: 18px;
            }

.page-footer {
    background-color: #484848;
    min-height: 69px;
    margin-top: 34px;
}

    .page-footer p {
        float: left;
        margin-top: 29px;
        margin-left: 10px;
    }

        .page-footer p,
        .page-footer p a {
            color: #999999;
            font-family: Tahoma;
            font-size: 12px;
        }

    .page-footer ul {
        float: right;
        margin-top: 20px;
        margin-right: 10px;
    }

        .page-footer ul li {
            float: left;
            margin-right: 18px;
        }

        .page-footer ul li:last-child {
            margin-right: 0;
        }

            .page-footer ul li a {
                display: block;
                width: 33px;
                height: 33px;
            }