/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------------------------------------------*/

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.otf);
}

@font-face {
    font-family: MyriadPro-Semibold;
    src: url(../fonts/MyriadPro-Semibold.otf);
}

@font-face {
    font-family: MyriadPro-Semibold;
    src: url(../fonts/MyriadPro-Semibold.woff);
}

@font-face {
    font-family: Myriad-Condensed-Web;
    src: url(../fonts/Myriad-Condensed-Web.ttf);
}

@font-face {
    font-family: Myriad-Condensed-Web;
    src: url(../fonts/Myriad-Condensed-Web.eot);
}

html {
    background: white;
}

body {
    color: #8c8a8b;
    background: url(../images/pattern.png);
    margin: 0 auto;
    width: 1260px;
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

.separator {
    background: #e0dfdd;
    height: 4px;
    width: 100%;
}

h3 {
    color: #d14343;
    font-family: BebasNeue;
    font-size: 40px;
    text-transform: uppercase;
}

h4 {
    font-family: BebasNeue;
    font-size: 24px;
}

h5 {
    color: #8c8c8c;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
}

.main-header:after,
nav:after,
.about-and-skills:after,
.skills .skills-lists:after,
.works-header:after,
.works ul:after,
.contact-content-left:after,
.contact-content-right-wrapper:after {
    display: block;
    clear: both;
    content: '';
}

.main-header {
    margin-top: 37px;
}

    .main-header-logo {
        float: left;
        margin-left: 1px;
        text-transform: uppercase;
    }

        .main-header-logo span {
            color: #d14343;
            font-family: Verdana;
            font-size: 12px;
            position: relative;
            z-index: 2;
        }

        .main-header-logo a {
            box-sizing: border-box;
            color: #8c8a8b;
            display: block;
            font-family: BebasNeue;
            font-size: 50px;
            height: 48px;
            margin-top: -2px;
            padding-right: 4px;
            position: relative;
            text-decoration: none;
            z-index: 1;
        }

        .main-header-logo a:hover {
            border-bottom: 3px solid #8c8a8b;
        }

    .main-header ul {
        float: right;
        margin-top: 27px;
    }

        .main-header ul li {
            float: left;
            font-family: BebasNeue;
            font-size: 22px;
            height: 24px;
            margin-right: 10px;
            padding: 0px 5px;
            text-transform: uppercase;
        }

        .main-header ul li:last-of-type {
            margin-right: 0;
        }

        .main-header ul li a {
            color: #e0dfdd;
            text-decoration: none;
        }

        .main-header ul li.active {
            border-bottom: 2px solid #908f8d;
        }

            .main-header ul li.active a {
                color: #908f8d;
            }

        .main-header ul li:hover {
            border-bottom: 2px solid #908f8d;
        }

            .main-header ul li:hover a {
                color: #908f8d;
            }

.title {
    color: #8c8a8b;
    font-size: 60px;
    font-family: Myriad-Condensed-Web;
    letter-spacing: 1px;
    line-height: 55px;
    margin-top: 77px;
    text-align: center;
}

    .title span {
        text-transform: uppercase;
        font-family: MyriadPro-Semibold;
        letter-spacing: -2px;
    }

.about-and-skills {
    margin-top: 87px;
}

    .about,
    .skills {
        box-sizing: border-box;
        float: left;
        width: 50%;
    }

    .about {
        padding-right: 10px;
    }

        .about h3,
        .skills h3 {
            height: 39px;
            padding: 0 10px;

        }

        .about p {
            font-family: Verdana;
            font-size: 12px;
            display: block;
            line-height: 17px;
            padding: 16px 0 20px 10px;
        }

            .about p img {
                float: left;
                height: 96px;
                margin: 2px 20px 0 0;
                width: 100px;
            }

    .skills {
        padding-left: 10px;
    }

        .skills .skills-lists-web,
        .skills .skills-lists-design {
            box-sizing: border-box;
            float: left;
            width: 50%;
        }

        .skills .skills-lists-web {
            padding-top: 14px;
            padding-left: 8px;
        }


            .skills .skills-lists-web ul,
            .skills .skills-lists-design ul {
                font-family: Verdana;
                list-style-type: none;
            }

            .skills .skills-lists-web ul {
                padding-left: 3px;
            }

                .skills .skills-lists-web ul li,
                .skills .skills-lists-design ul li {
                    font-size: 12px;
                    line-height: 20px;
                }

                    .skills .skills-lists-web ul li:before,
                    .skills .skills-lists-design ul li:before {
                        color: #dc6565;
                        content: "●";
                        padding-right: 5px;
                    }

        .skills .skills-lists-design {
            padding-top: 14px;
            padding-left: 15px;
        }

            .skills .skills-lists-design ul {
                padding-left: 4px;
            }

.works {
    margin-top: 61px;
}

    .works-header {
        height: 39px;
    }

    .works-header h3 {
        float: left;
        padding-left: 8px;
    }

    .works-header ul {
        float: right;
        margin-top: 18px;
        margin-right: 2px;
    }

        .works-header ul li {
            float: left;
            margin-left: 15px;
        }

        .works-header ul li:first-of-type {
            margin-left: 0;
        }

            .works-header ul li a {
                color: #8c8a8b;
                font-size: 11px;
                font-family: Verdana;
                text-decoration: none;
                text-transform: uppercase;
            }

                .works-header ul li a.active {
                    color: #d3414c;
                }

            .works-header ul li a:hover {
                color: #d3414c;
            }

    .works .works-list li {
        box-sizing: border-box;
        float: left;
        padding: 17px 10px 1px 10px;
        position: relative;
        width: 25%;
    }


        .works .works-list li .img-container img {
            box-shadow: 0 4px 5px -4px rgba(0,0,0,1);
            height: 130px;
            position: relative;
            width: 220px;
            z-index: 2;
        }

            .works .works-list li .img-container:before,
            .works .works-list li .img-container:after {
                box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
                content: '';
                display: block;
                height: 104px;
                position: absolute;
                top: 29px;
                z-index: 1;
            }

            .works .works-list li .img-container:before {
                left: 10px;
                transform: rotate(-1.75deg);
                transform-origin: left top;
            }

            .works .works-list li .img-container:after {
                right: 10px;
                transform: rotate(1.75deg);
                transform-origin: right top;
            }


        .works .works-list li span {
            display: block;
            font-family: Verdana;
            font-size: 12px;
            margin-top: 9px;
            text-align: center;
        }

.contact {
    margin-top: 60px;
}

    .contact h3 {
        height: 38px;
        padding-left: 8px;
    }

    .contact-content {
        overflow: hidden;
        padding-bottom: 39px;
        padding-top: 24px;
    }

        .contact-content-left {
            box-sizing: border-box;
            float: left;
            padding: 0 10px;
            width: 50%;
        }

            .contact-content-left form {
                margin-top: 10px;
            }

                .contact-content-left form label {
                    color: #8c8c8c;
                    font-family: Verdana;
                    font-size: 12px;
                }

                .contact-content-left-inputs {
                    overflow: hidden;
                }

                    .contact-content-left-inputs-name,
                    .contact-content-left-inputs-email {
                        box-sizing: border-box;
                        float: left;
                        width: 50%;
                    }

                    .contact-content-left-inputs-name {
                        padding-right: 10px;
                    }

                    .contact-content-left-inputs-email {
                        padding-left: 10px;
                    }

                    .contact-content-left-message {
                        width: 100%;
                        margin-top: 11px;
                    }

                        .contact-content-left-message div {
                            margin-top: 5px;
                        }

                        .contact-content-left-message textarea,
                        .contact-content-left input[type="text"],
                        .contact-content-left input[type="email"] {
                            background: #e8e8e8;
                            border-left: 1px solid #bababa;
                            border-top: 1px solid #bababa;
                            border-right: 1px solid #f9f8f6;
                            border-bottom: 1px solid #f9f8f6;
                            box-sizing: border-box;
                            color: #8c8c8c;
                            font-family: Verdana;
                            font-size: 12px;
                        }

                        .contact-content-left-message textarea {
                            height: 120px;
                            overflow: auto;
                            padding: 5px 5px;
                            resize: none;
                            width: 100%;
                        }



            .contact-content-left input[type="text"],
            .contact-content-left input[type="email"] {
                height: 32px;
                margin-top: 3px;
                padding: 0 5px;
                width: 220px;
            }

            .contact-content-left .btn-send {
                background: linear-gradient(to bottom, #e07c7c, #bd5757);
                border-top: 2px solid #e58c8c;
                border-right: 2px solid #ba6363;
                border-bottom: 2px solid #9e4848;
                border-left: 2px solid #ae5252;
                box-sizing: border-box;
                font-family: BebasNeue;
                color: #ffffff;
                font-size: 24px;
                height: 36px;
                margin-top: 17px;
                text-transform: uppercase;
                width: 100px;
            }

    .contact-content-right {
        box-sizing: border-box;
        float: left;
        padding: 0 10px;
        width: 50%;
    }

        .contact-content-right-wrapper {
            margin-top: 10px;
        }

        .contact-content-right-wrapper-map {
            float: left;
            padding-right: 38px;
        }

            .contact-content-right-wrapper-map img {
                height: 202px;
                margin-top: 2px;
                width: 240px;
            }

        .contact-content-right-wrapper-address {
            float: left;
        }

            .contact-content-right-wrapper-address h5 {
                color: #8c8c8c;
                font-size: 12px;
                font-family: Verdana;
                font-weight: bold;
            }

            .contact-content-right-wrapper-address .address {
                margin-top: 3px;
            }

                .contact-content-right-wrapper-address .address + p {
                    line-height: 17px;
                    margin-top: 6px;
                }

            .contact-content-right-wrapper-address .phone {
                margin-top: 12px;
            }

                .contact-content-right-wrapper-address .phone + p {
                    margin-top: 5px;
                }

            .contact-content-right-wrapper-address .email {
                margin-top: 14px;
            }

            .contact-content-right-wrapper-address p {
                font-size: 11px;
                font-family: Verdana;
                line-height: 19px;
                margin-left: 4px;
            }

            .contact-content-right-wrapper-address a {
                color: #dc6565;
                display: block;
                font-family: Verdana;
                font-size: 11px;
                margin-left: 3px;
                margin-top: 8px;
            }


.page-footer {
    min-height: 107px;
    overflow: hidden;
}

    .page-footer p {
        float: left;
        font-family: Verdana;
        font-size: 11px;
        margin-left: 9px;
        margin-top: 11px;
    }

        .page-footer p a {
            color: #dc6565;
        }

    .page-footer ul {
        float: right;
        margin-right: 2px;
        margin-top: 4px;
    }

        .page-footer ul li {
            float: left;
            margin-right: 8px;
        }

        .page-footer ul li .icon {
            display: block;
            height: 26px;
            width: 26px;
        }

        .page-footer ul li .icon.icon-twitter {
            background-image: url('../images/icons.png');
        }

        .page-footer ul li .icon.icon-facebook {
            background-image: url('../images/icons.png');
            background-position: -26px;
        }

        .page-footer ul li .icon.icon-dribbble {
            background-image: url('../images/icons.png');
            background-position: -52px;
        }

        .page-footer ul li .icon.icon-youtube {
            background-image: url('../images/icons.png');
            background-position: -78px;
        }
